body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}


#maze {
  display: grid;
  grid-template-columns: repeat(25, 32px);
  grid-auto-rows: 32px;
  gap: 0;
  position: relative; /* add this */
}

.cell {
  width: 32px;
  height: 32px;
  background-size: cover;
}

#player-block {
  width: 20px;
  height: 20px;
  background-color: #ff4757; /* Bright color to stand out */
  border-radius: 4px;
  z-index: 100; /* Higher than maze walls */
  position: absolute; /* For smooth movement */
  transition: top 0.1s, left 0.1s; /* Smooth movement */
}

#state-window {
    font-size: 14px;
    line-height: 1.5;
}

.coin {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("media/coin.jpeg");
  background-size: cover;
  z-index: 90;
  pointer-events: none;
}
